@page "/geolocalizacion"
@using G1Emergency2025.Servicio.ServiciosHttp
@using G1Emergency2025.Shared.DTO
@inject IHttpServicio Http
@inject NavigationManager Nav

<h3>Geolocalizacion</h3>

@code {

}
